*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif
}

ul{
    list-style:none;
}

button{
    background-color:#1992D4;
    color:white;
    border-radius:50px;
    padding:15px 30px;
    font-size:inherit;
    font-weight:inherit;
    border:none;
}

.container{
    display:grid;
    grid-template:1fr 2fr 2fr / 1fr 3fr 1fr;
    min-height:100vh;
}

.container > div{
    /* border:10px solid blue; */
}

.sidebar{
    grid-area:1 / 1 / 4 / 2;
    padding:20px;
    overflow:hidden;

    background-color: #1992D4;
    color:white;
}

.sidebar > *{
    font-weight:bold;
}

#dashboard{
    font-size:2em;
    margin-bottom:40px;
}

.sidebar > ul{
    font-size:1.5em;
    display:grid;
    grid-template:repeat(10, 1fr) / 1fr;
    gap:20px;
}

.sidebar li,
#dashboard{
    display:flex;
    gap:15px;
    align-items:center;
}

.sidebar svg{
    fill:white;
    height:1.5em;
}

.header{
    grid-area:1 / 2 / 2 / 4;
    display:grid;
    grid-template:1fr 1fr / 1fr;
    font-weight:bold;
    box-shadow:0px 10px 10px -10px rgba(0, 0, 0, 0.4);
    position:relative; /* to make the shadow appear above the other elements */
}

#top-header{
    display:flex;
    justify-content:space-around;
}

#top-header .right-side,
#top-header .left-side{
    display:flex;
    gap:30px;
    align-items:center;
}

#top-header .icon{
    height:2em;
}

#top-header .left-side{
    width:50%;
}

#top-header #search-bar{
    flex:1 1 auto;
    align-self:center;
    background-color:#E2E8F0;
    border-radius:10px;
    border:none;
    height:2em;
}

#top-header .avatar{
    height:3em;
}

#top-header span{
    font-size:1.5em;
}

#bottom-header{
    display:flex;
    justify-content:space-around;
}

#bottom-header .right-side,
#bottom-header .left-side{
    display:flex;
    gap:30px;
    align-items:center;
}

#bottom-header .left-side{
    line-height:1.3;
}

#bottom-header .big{
    font-size:2em
}

#bottom-header img[src="img/cat.png"]{
    height:5em;
}

.projects,
.announcements,
.trending{
    background-color:#E2E8F0;
    padding:3vh 1vw 3vh 1vw;
}

.projects{
    grid-area: 2 / 2 / 4 / 3;
    display:grid;
    grid-template:3em 1fr / 1fr;
}

.projects > ul{
    display:grid;
    grid-template:1fr 1fr 1fr/ 1fr 1fr;
    gap:20px;
}

.card,
.announcements > div,
.trending > div{
    box-shadow:10px 10px 10px -10px rgba(0, 0, 0, 0.4);
    border-radius:10px;
    background-color: rgb(255, 255, 255);
}

.card{
    min-height:100px;
    /* border:10px solid green; */
    display:grid;
    grid-template: 1fr / 1fr 40fr;
    overflow:hidden;
    position:relative; /*for adding the icons to the card*/
}

.card .left-side{
    background-color:#F0B429;
}

.card .right-side{
    padding:20px
}

.card h3{
    margin-bottom:1vh;
}

.card p,
.announcements p{
    color:#747474;
}

.icons{
    position:absolute;
    bottom:20px;
    right:20px;
    display:flex;
    width:110px;
    gap:20px;
}

.icons > svg{
    width:30px;
}

.announcements{
    grid-area: 2 / 3 / 3 / 4;
    display:grid;
    grid-template:3em 1fr / 1fr;
}

.announcements > div{
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.grey-line{
    height:1px;
    background-color:grey;
}

.announcements p{
    font-size:0.8em;
}

.trending{
    grid-area: 3 / 3 / 4 / 4;
}