*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif
}

ul{
    list-style:none;
}

.container{
    display:grid;
    grid-template:1fr 2fr 2fr / 1fr 3fr 1fr;
    min-height:100vh;
}

.container > div{
    border:10px solid blue;
}

.sidebar{
    grid-area:1 / 1 / 4 / 2;
    padding:10px;
    overflow:hidden;

    background-color: #1992D4;
    color:white;
}

.sidebar > *{
    font-weight:bold;
}

#dashboard{
    font-size:2em;
    margin-bottom:20px;
}

.sidebar > ul{
    font-size:1em;
    display:grid;
    grid-template:repeat(10, 1fr) / 1fr;
    gap:10px;
}

.header{
    grid-area:1 / 2 / 2 / 4;
}

.projects{
    grid-area: 2 / 2 / 4 / 3;
}

.announcements{
    grid-area: 2 / 3 / 3 / 4;
}

.trending{
    grid-area: 3 / 3 / 4 / 4;
}